*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
}

a{
    text-decoration: none;
}

header a{
    color: white;
    background-color: grey;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
    border-radius: 5px;
    padding-right: 3px;
    padding-left: 3px;
}

main{
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: auto;
}

.photo{
    position: relative;
    margin: 5px;
    width: calc(100% / 5 - 10px);
}

.information a{
    color: white;
    position: absolute;
    background-color: black;
    padding: 2px;
    filter: opacity(0.4);
    bottom: 4px;
    left: 0;
}

footer{
    height: 10vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.start{
    display: flex;
}


.microphone{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.arrow{
    padding-left: 20px;
    color: white;
    font-size: 10px;
}

.mute{
    color: white;
    padding-left: 13px;
}

.share{
    font-size: 20px;
    color: green;
    margin-left: 49px; 
}

.manage{
    font-size: 20px;
    color: white;
    margin-left: 49px; 
}

.comment{
    color: white;
    padding-left: 45px;
}

.end{
    color: red;
    background-color: rgb(74, 74, 74);
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 5px;
}


