*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

a{
    text-decoration: none;
}

header a{
    color: white;
    background-color: grey;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
    border-radius: 5px;
    padding-right: 3px;
    padding-left: 3px;
}

main{
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 125px); 
    overflow: auto;
}

.photo{
    position: relative;
    margin: 5px;
    width: calc(100% / 5 - 10px);
}

.information a{
    color: white;
    position: absolute;
    background-color: black;
    padding: 2px;
    filter: opacity(0.4);
    bottom: 4px;
    left: 0;
}

footer{
    height: 75px;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.start{
    display: flex;
    flex-shrink: 0;
}


.microphone{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.arrow{
    padding-left: 20px;
    color: white;
    font-size: 10px;
}

.mute{
    color: white;
    padding-left: 13px;
}

.share{
    font-size: 20px;
    color: green;
    margin-left: 50px; 
}

.manage{
    font-size: 20px;
    color: white;
    margin-left: 50px; 
}

.comment{
    color: white;
    padding-left: 45px;
}

.video{
    margin-left: 40px;
    font-size: 20px;
    color: white;
}

.end{
    color: red;
    background-color: rgb(74, 74, 74);
    height: 75px;
    display: flex;
    align-items: center;
    padding: 5px;
}


